*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	line-height: 1.5;
}
.container{
	width: 960px;
	margin: 0 auto;
}
.row, .row::after, .row::before{
	clear: both;
	display: table;
	width: 100%;
}
a:link, a:visited{
	text-decoration: none;
}
div[class^="col"]{
	float: left;
}
.col1{
	width: calc(100%*1/12);
}
.col3{
	width: calc(100%*3/12);
}
.col4{
	width: calc(100%*4/12);
}
.col5{
	width: calc(100%*5/12);
}
.col9{
	width: calc(100%*9/12);
}
.col10{
	width: calc(100%*10/12);
	text-align: center;
}
.ml-col2{
	margin-left: calc(100%*2/12);
}
.mb-70{
	margin-bottom: 70px;
}
.mb-90{
	margin-bottom: 90px;
}
.mb-98{
	margin-bottom: 98px;
}
.mb-130{
	margin-bottom: 130px;
}
.ml-offset-1{
	margin-left: calc(100%*1/12);
	
}
.mr-15{
	margin-right: 15px;
	padding-right: 15px;
} 
.header{
	background-color: #fcdb00;
	padding: 60px 0 110px;
}
.text-center{
	text-align: center;
}

.navbar{
	list-style: none;
	float: left;
	
}
.navbar li{
	display: inline-block;
	margin: 0 9px;
}
.navbar li a:first-child{
	padding-left: 0;
}
.navbar li:first-child{
	margin-left: 0;
}
.navbar li a{
	padding: 0 9px;
	font-weight: bold;
	color: #010101;
	font-size: 22px;
	text-transform: capitalize;
}
.heading{
	font-size: 32px;
	font-weight: bold;
	color: #010101;
	margin-bottom: 25px;
}
.subHeading{
	font-size: 20px;
	color: #313841;
	margin-bottom: 25px;
}
.para{
	color: #555555;
	font-size: 16px;
	margin-bottom: 45px;
}
.para1{
	color: #313841;
	font-size: 20px;
}
.para2{
	color: #898989;
	font-size: 20px;
	padding-bottom: 45px;
}
p{
	color: #898989;
	font-size: 16px;
}
.link li{
	display: inline-block;
	font-size: 42px;
	margin-right: 21px;
}
.link li a{
	color: #010101;
}
.pt-70{
	padding-top: 70px;
}
.ipad{
	margin-left:10px;
}
/* ===========feature section starts here============ */
.feature{
	padding: 118px 0 170px;
}
.thumbImg i{
	font-size: 40px;
}

.thumbInfo h3{
	color: #010101;
	font-size: 22px;
	margin-bottom:15px;
}
.footer{
	padding-top: 95px;
	padding-bottom: 140px;
	background-color: #010101;
}
h4{
	font-size: 32px;
	color: #fcdb00;
}
.email{
	width: calc(100% - 165px);
	height: 50px;
	border-radius: 5px;
	padding:25px 0;
	outline: none;
	border: 0;
}
.email::placeholder{
	color: #898989;
	font-size: 16px;
}
.submit{
	width: 125px;
	margin-left: 30px;
	cursor: pointer;
	height: 50px;
	background-color: #fbdb00;
	font-weight: bold;
	font-size: 16px;
	color: #010101;
	text-transform: uppercase;
	border-radius: 5px;
	border: 1px solid black;
	transition: all, .3s;
}
.submit:hover, .submit:active, .submit:focus{
	background-color: #010101;
	color: #fcdb00;
}
.socialIcons li{
	display: inline-block;
	color: yellow;
	margin-left: 30px;
	list-style: none;
	font-size: 38px;
}